.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba($dark, 0.85);
    z-index: 10;

    img {
        height: 80vh;
        width: auto;
    }
}