.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba($dark, 0.85);
    z-index: 10;

    img {
        height: 80vh;
        max-width: 100%;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 40px;
        font-weight: 400;
        color: $light;
        background-color: transparent;
    }
}