@import 'base/_normalize.min.scss';
@import 'base/_nullstyles.scss';
@import 'base/_variables.scss';
@import 'base/_fonts.scss';

* {
    font-family: $font-main;
    font-style: normal;
    color: $dark;
}

.container {
    max-width: $container;
    width: 100%;
    margin: 0 auto;
    

    @media (max-width: $md1) {
        max-width: none;
        padding: 0 30px;
    }
    @media (max-width: $md6) {
        padding: 0 20px;
    }
}

@keyframes appearance {
    from {opacity: 0;}
    to {opacity: 1;}
}

.appear {
    animation-name: appearance;
    animation-duration: 1s;
}

@import 'sections/_portfolio.scss';

@import 'media/_media_portfolio.scss';